body {
    background-color: lightblue;
    margin: 10px;
}

h1 {
    color: navy;
}

img {
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
}

p {
    color: magenta;
    background-color: mediumaquamarine;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
}